<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo e icono de la pestaña-->
    <title>¡Bienvenidos a Sonata!</title>
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

    <!--CDN FONT AWESOME-->
    <script src="https://kit.fontawesome.com/0aeb7696ea.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/styles_header.css">
    <link rel="stylesheet" href="/css/styles_footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>

            <section class="informacion_artista">
                <div class="content">
                    <div class="informacion_artista_left">

                        <!--VALORACIÓN DEL ÁLBUM-->
                        <div class="valoracion">
                            <h2>Valoración:</h2>
                            <% for (let i=0; i<5; i++){ %>
                                <% if(i<filtraUsuario.valoracion){ %>
                                    <i class="fa-solid fa-star" style="color:yellow"></i>
                                <% } else{ %>
                                  <i class="fa-solid fa-star"></i>
                                <% } %>
                              <% } %>

                        </div>

                        <!--REDES SOCIALES DEL ARTISTA-->
                        <ul class="redes_sociales_artista">
                            <%if(filtraUsuario.redes[0]){%>
                                <li class="red_social_artista">
                                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                            <%}%>

                            <%if(filtraUsuario.redes[1]){%>
                                <li class="red_social_artista">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            <%}%>

                            <%if(filtraUsuario.redes[2]){%>
                                <li class="red_social_artista">
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>

                    <div class="informacion_artista_right">

                        <!--NOMBRE DEL ARTISTA-->
                        <h2 class="nombre_artista"><%=filtraUsuario.nombreArtista%></h2>

                        <!--DESCRIPCION DEL ARTISTA-->
                        <p class="descripcion_artista"><%=filtraUsuario.descripcion%></p>

                    </div>

                </div>
            </section>


            <section class="informacion_producto">
                <div class="contenedor_informacion_producto">

                    <!--SLIDER DEL ÁLBUM-->
                    <section class="imagen_album">

                        <button class="boton_left" type="button">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>

                        <!--IMAGEN DEL ARTISTA-->
                        <img src=<%=filtraProducto.img%> alt="Imagen de un album">


                        <button class="boton_right" type="button">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>

                        <button class="boton_play" type="button">
                            <i class=" fa-regular fa-circle-play"></i>
                        </button>

                    </section>

                    <!--DESCRIPCIÓN DEL ARTISTA-->
                    <section class="descripcion_producto">
                        <button type="submit">Comprar</button>

                        <div class="estilo_descripcion">
                            <!--NOMBRE DEL ÁLBUM-->
                            <h2><%=filtraProducto.nombreTrack%></h2>

                            <!--DURACIÓN DEL ÁLBUM-->
                            <h5>Duración: <span><%=filtraProducto.duracion%></span></h5>

                            <!--GÉNERO DEL ÁLBUM-->
                            <h5>Género: <span style="text-transform: capitalize;"><%=filtraUsuario.genero%></span></h5>

                            <h5>Descripción: <span><%=filtraProducto.descripcionProducto%></span></h5>

                            <!--FECHA DE PUBLICACIÓN DEL ÁLBUM-->
                            <h5>Fecha de publicación: <span><%=filtraProducto.fechaPublicacion%></span></h5>
                        </div>

                    </section>


                    <section class="precio_album">
                        <h4>$<%=filtraProducto.precio%></h4>
                    </section>
                </div>


            </section>
        </main>

        <%- include('../partials/footer') %>


</body>

</html>