<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo e icono de la pestaña-->
    <title>¡Bienvenidos a Sonata!</title>
    <link rel="shortcut icon" href="/images/imagen_logo_sonata_v1.png">

    <!--CDN FONT AWESOME-->
    <script src="https://kit.fontawesome.com/0aeb7696ea.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/styles_header.css">
    <link rel="stylesheet" href="/css/styles_footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>

            <section class="informacion_artista">
                <div class="content">
                    <div class="informacion_artista_left">

                        <!--VALORACIÓN DEL ARTISTA-->
                        <div class="valoracion">
                            <h2>Valoración del Artista:</h2>
                            <% for (let i=0; i<5; i++){ %>
                                <% if(i<filtraUsuario.valoracion){ %>
                                    <i class="fa-solid fa-star" style="color:yellow"></i>
                                <% } else{ %>
                                  <i class="fa-solid fa-star"></i>
                                <% } %>
                              <% } %>

                        </div>

                        <!-- REDES SOCIALES DEL ARTISTA -->
                        

                    <div class="informacion_artista_right">

                        <!--NOMBRE DEL ARTISTA-->
                        <h2 class="nombre_artista"><%=filtraUsuario.userName%></h2>

                        <!--DESCRIPCION DEL ARTISTA-->
                        <p class="descripcion_artista"><%=filtraUsuario.description%></p>

                    </div>

                </div>
            </section>


            <section class="informacion_producto">
                <div class="contenedor_informacion_producto">

                    <!--SLIDER DEL ÁLBUM-->
                    <section class="imagen_album">

                        <button class="boton_left" type="button">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>

                        <!--IMAGEN DEL ARTISTA-->
                        <img src=<%=filtraProducto.image%> alt="Imagen de un album">

                        <button class="boton_right" type="button">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>

                        <button class="boton_play" type="button">
                            <i class=" fa-regular fa-circle-play"></i>
                        </button>

                    </section>

                    <!--DESCRIPCIÓN DEL ARTISTA-->
                    <section class="descripcion_producto">
                        
                        <button type="submit">Comprar</button>

                        <div class="estilo_descripcion">
                            <!--NOMBRE DEL ÁLBUM-->
                            <h2><%=filtraProducto.name%></h2>

                            <!--DURACIÓN DEL ÁLBUM-->
                            <h5>Duración: <span><%=filtraProducto.totalLength%></span></h5>

                            <!--GÉNERO DEL ÁLBUM-->
                            <h5>Género: <span style="text-transform: capitalize;"><%=filtraProducto.genreAlbum.name%></span></h5>

                            <h5>Descripción: <span><%=filtraProducto.description%></span></h5>

                            <!--FECHA DE PUBLICACIÓN DEL ÁLBUM-->
                            <h5>Fecha de publicación: <span><%=filtraProducto.dateUpload%></span></h5>
                            
                            <!--VALORACIÓN DEL ÁLBUM-->
                            <div class="valoracion2">
                                <h5>Valoración del album:</h5>
                                <%filtraProducto.valoracion+".0"%>
                                <% for (let i=0; i<5; i++){ %>
                                    <% if(i<filtraProducto.valoracion){ %>
                                        <i class="fa-solid fa-star" style="color:yellow"></i>
                                    <% } else{ %>
                                    <i class="fa-solid fa-star"></i>
                                    <% } %>
                                <% } %>

                            </div>
                        </div>

                    </section>


                    <section class="precio_album">
                        <h4>$<%=filtraProducto.price%></h4>
                    </section>
                </div>


            </section>
        </main>

        <%- include('../partials/footer') %>


</body>

</html>